@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@700&display=swap');

.App {
  text-align: center;
}



/* CSS Animations */

.blog-card:hover {
  border: 1px black solid;
}

.nav-link:hover {
  color: firebrick;
}

.social-icon:hover {
  height: 2.75rem;
  width: 2.75rem;
}



/* Media Queries */

@media only screen and (max-width: 1300px) {
  #content-container {
    height: 60vh !important;
  }
  #lifestyle-photo {
    height: 50% !important;
  }
  .name-greeting {
    font-size: 3rem !important;
  }
  #list-container h6 {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 1030px) {
  #nav-container {
    flex-flow: column !important;
  }
  #contact-card {
    justify-content: center;
    margin-bottom: 1rem;
  }
  .main-container {
    margin-left: 0 !important;
    height: 55vh !important;
  }
  #content-container {
    height: 32rem !important;
  }
  #lifestyle-photo {
    display: none;
  }
  .name-greeting {
    font-size: 3rem !important;
  }
  .project-container {
    flex-flow: column !important;
    height: fit-content !important;
    align-items: 'center';
    margin-top: 0.5rem !important;
  }
  .project-card {
    height: fit-content !important;
  }
}

@media only screen and (max-width: 650px) {
  .name-greeting {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  #quote-container {
    text-align: center;
    padding-top: 14rem;
  }
  #quote {
    font-size: 1.25rem !important;
  }
  .main-container {
    min-height: auto !important;
    align-items: center;
  }
  #list-container h6 {
    font-size: 0.75rem !important;
  }
  #headshot {
    display: none;
  }
  .nav-link {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 340px) {
  .main-container {
    height: 40vh !important;
  }
  #quote-container {
    width: 10rem !important;
  }
  #quote {
    font-size: 1rem !important;
  }
  #list-container h6 {
    font-size: 0.65rem !important;
  }
}

@media only screen and (max-width: 280px) {
  .nav-link {
    font-size: 0.85rem !important;
  }
  #list-container h6 {
    font-size: 0.5rem !important;
  }
}